.login-wrapper {
  height: 100vh;
  background: radial-gradient(circle at top, #0a0a0a, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  color: white;
}

.title {
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #9b6cff;
}

.subtitle {
  margin-bottom: 30px;
  opacity: 0.7;
}

.login-card {
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(145deg, #0e0e0e, #050505);
  box-shadow: 0 0 25px rgba(155, 108, 255, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  background: black;
  border: 1px solid #333;
  padding: 12px;
  color: white;
  border-radius: 6px;
  outline: none;
  font-family: inherit;

  &:focus {
    border-color: #9b6cff;
    box-shadow: 0 0 10px #9b6cff;
  }
}

.password-box {
  position: relative;

  .toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #9b6cff;
    cursor: pointer;
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


button {
  background: transparent;
  border: 1px solid #9b6cff;
  color: #9b6cff;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #9b6cff;
    color: black;
    box-shadow: 0 0 15px #9b6cff;
  }
}

.error {
  color: #ff4f6d;
  font-size: 0.85rem;
  text-align: center;
}
