# Backend (.NET)
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
**/project.assets.json
**/project.nuget.cache
*.sqlite
*.db

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
*.log

# OS
.DS_Store
Thumbs.db
node_modules
