<div class="dashboard-container">

  <!-- HEADER -->
  <div class="dashboard-header">
    <h1 class="dashboard-title">Lyf Ledgerr Dashboard</h1>

    <div class="date-row">
      <span class="today-date">{{ currentDate }}</span>

      <input
        type="date"
        class="date-picker"
        [value]="currentDate"
        (change)="onDateChange($event)"
      />
    </div>

    <button class="logout-btn" (click)="logout()">Logout</button>

  </div>

  <!-- YEAR WRAPPED BUTTON -->
  <div class="year-btn-wrapper">
    <button class="primary-btn" routerLink="/year-wrapped">
      View Year Wrapped
    </button>
  </div>

  <!--STREAK-->
  <div class="streak-bar">

    <div class="streak-item">
      🔥 Current Streak: <span>{{ currentStreak }}</span> days
    </div>

    <div class="streak-item best">
      ⭐ Best Streak: <span>{{ longestStreak }}</span> days
    </div>

  </div>


  <!-- SUMMARY CARDS -->
  <div class="summary-grid">

  <div class="summary-card highlight-card">
    <h3>Today</h3>

    <div class="big-number">{{ dailyTotal }} hrs</div>

    <div class="top-cat" *ngIf="topDailyCategory">
      Top: {{ topDailyCategory }}
    </div>

    <div class="summary-item" *ngFor="let item of dailySummary | keyvalue">
      {{ item.key }} : {{ item.value }} hrs
    </div>

    <button (click)="openChart('daily')">View Chart</button>
  </div>



  <div class="summary-card">
    <h3>Weekly</h3>

    <div class="big-number">{{ weeklyTotal }} hrs</div>

    <div class="top-cat" *ngIf="topWeeklyCategory">
      Top: {{ topWeeklyCategory }}
    </div>

    <div class="summary-item" *ngFor="let item of weeklySummary | keyvalue">
      {{ item.key }} : {{ item.value }} hrs
    </div>

    <button (click)="openChart('weekly')">View Chart</button>
  </div>



  <div class="summary-card">
    <h3>Monthly</h3>

    <div class="big-number">{{ monthlyTotal }} hrs</div>

    <div class="top-cat" *ngIf="topMonthlyCategory">
      Top: {{ topMonthlyCategory }}
    </div>

    <div class="summary-item" *ngFor="let item of monthlySummary | keyvalue">
      {{ item.key }} : {{ item.value }} hrs
    </div>

    <button (click)="openChart('monthly')">View Chart</button>
  </div>



  </div>




  <!-- HOUR GRID -->
  <div class="hour-grid"  #hourGrid>
    <div
      *ngFor="let hour of hours"
      class="hour-card"
      (click)="selectHour(hour)"
      [style.background]="hour.category?.color || ''"
    >
      <div class="hour-time">{{ hour.time }}</div>
      <div class="hour-category" *ngIf="hour.category">
        {{ hour.category.name }}
      </div>
    </div>
  </div>



  <br><br>

  <!-- STREAK MAP -->
  <div class="heatmap-wrapper">
    <h3 class="heatmap-title">Your Year in Pixels</h3>

    <div class="month-section" *ngFor="let m of yearMonths">

      <div class="month-name">
        {{ m.month }}
      </div>

      <div class="month-grid">
        <div
          class="heat-cell"
          *ngFor="let d of m.days"
          (mouseenter)="showTooltip($event, d)"
          (mouseleave)="hideTooltip()"
          (click)="jumpToDate(d.date)"
          [class.selected]="d.date === currentDate"
          [ngClass]="{
            'lvl-0': d.total === 0,
            'lvl-1': d.total > 0 && d.total <= 2,
            'lvl-2': d.total > 2 && d.total <= 5,
            'lvl-3': d.total > 5
          }"
        ></div>
      </div>

    </div>


    <div
      class="heat-tooltip"
      *ngIf="tooltipVisible"
      [style.top.px]="tooltipY"
      [style.left.px]="tooltipX"
    >
      <div>{{ tooltipDate }}</div>
      <div>{{ tooltipHours }} hrs logged</div>
    </div>


    <div class="heatmap-legend">
      <span>Less</span>
      <div class="heat-cell lvl-0"></div>
      <div class="heat-cell lvl-1"></div>
      <div class="heat-cell lvl-2"></div>
      <div class="heat-cell lvl-3"></div>
      <span>More</span>
    </div>
  </div>



  <!-- CHART MODAL -->
  <div class="chart-modal" *ngIf="showChart">
    <div class="chart-box">
      <button class="close-btn" (click)="closeChart()">✕</button>
      <canvas id="dailyChart"></canvas>
    </div>
  </div>

  <!-- CATEGORY MODAL -->
<div class="chart-modal" *ngIf="selectedHour">

  <div class="chart-box">

    <h3>Select Category for {{ selectedHour.time }}</h3>

    <div class="category-list">
      <button
        *ngFor="let cat of categories"
        (click)="assignCategory(cat)"
        [style.background]="cat.color"
        class="category-btn">
        {{ cat.name }}
      </button>
    </div>

    <button class="close-btn" (click)="selectedHour = null">✕</button>

  </div>

</div>


</div>
